.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.left-container {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 20px;
}

.right-container {
  padding: 20px;
}
